<!DOCTYPE html>
<html lang="en" ng-app="EatRight">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- STYLESSHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
    <script src="https://use.fontawesome.com/e95a6637a8.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/controllers/FoodsIndex.controller.js"></script>
    <script src="scripts/services/food.service.js"></script>
    <script type="text/javascript" src="scripts/controllers/main.controller.js"></script>
    <script type="text/javascript" src="scripts/controllers/auth-login.controller.js"></script>
    <script type="text/javascript" src="scripts/controllers/auth-logout.controller.js"></script>
    <script type="text/javascript" src="scripts/controllers/user-signup.controller.js"></script>
    <script type="text/javascript" src="scripts/controllers/user-profile.controller.js"></script>
    <script type="text/javascript" src="scripts/services/user.service.js"></script>
    <script type="text/javascript" src="scripts/controllers/homeIndex.controller.js"></script>
    <script type="text/javascript" src="scripts/routes.js"></script>
    <script src="scripts/app.js"></script>

    <title>EatRight</title>
  </head>

  <body ng-controller="MainController as main">
    <div id="nav">
      <a class="logo" href="/">EatRight</a>
      <nav class="menu">
        <a ng-show="!main.currentUser.isLoggedIn()" href="/signup">Sign Up</a>
        <a ng-show="!main.currentUser.isLoggedIn()" href="/login">Log In</a>
        <a ng-show="main.currentUser.isLoggedIn()"href="/logout">Log Out</a>
        <a ng-show="main.currentUser.isLoggedIn()" href="/profile">Logged in as {{main.currentUser.displayName}}</a>
      </nav>
    </div>

    <div class="site-content">
      <div class="container">
        <div ng-view></div>
      </div>
    </div>
  </body>

</html>
