<div class="profile">
  <div class="user_info">
    <div class="container">
      <h3>Account Information</h3>
      <p><strong>Username:</strong> {{main.currentUser.displayName}}</p>
      <p><strong>Email:</strong> {{main.currentUser.email}}</p>
      <p><strong>Joined:</strong> {{profileCtrl.user.created | date:format:timezone}}</p>
      <p><strong>Updated:</strong> {{profileCtrl.user.updated | date:format:timezone}}</p>

      <div class="editProfile">
        <a href="#" ng-click="profileCtrl.showEditForm=true" ng-hide="profileCtrl.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>
        <form ng-submit="profileCtrl.updateProfile()" ng-show="profileCtrl.showEditForm">
          <div class="form-group">
            <input type="text" ng-model="profileCtrl.new_profile.displayName" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="text" ng-model="profileCtrl.new_profile.email" class="form-control" placeholder="Email">
          </div>
          <input type="submit" value="Save Profile" class="btn btn-block btn-info">
        </form>
      </div>
    </div>
  </div>
  <button><a href="/search">Add Food</a></button>

  <div class="foods">
    <div class="container">
      <h1>Food Diary</h1>
      <div id="meal_wrapper" ng-repeat="meal in profileCtrl.user.meals | limitTo:-4">
        <!--click to display foods for meal-->
        <div ng-class="{'dateActive': $index === selectedIndex}">
          <ul class="meal_dates_tab">
            <li class="meal_dates"><h3><a href="#" ng-click="$parent.meal = meal; $parent.today=true; itemClicked($index); $parent.$last = $last"><span ng-show='!$last'>{{meal.date | date:format:timezone}}</span> <span ng-show='$last'>Today</span></a></h3></li>
          </ul>
        </div>
      </div>
      <div class="meal_container">
        <div ng-show="meal">
         <h2><span ng-if="$last">Today's Meal</span> <span ng-if="!$last"> {{meal.date | date:format:timezone}}</span></h2>
          <div ng-repeat="food in meal.foods">
            <li>{{food.item_name}} from {{food.brand_name}}
              <p>Calories: {{food.calories}} kcal | Fat: {{food.fat}}</p>
            </li>
          </div>
        </div>
        <div ng-hide='today' class="currentDate" ng-repeat="meal in profileCtrl.user.meals | limitTo:-1">
          <h2>Today's Meal </h2>
           <div ng-repeat="food in meal.foods">
             <li>{{food.item_name}} from {{food.brand_name}}
               <p>Calories: {{food.calories}} kcal | Fat: {{food.fat}}</p>
             </li>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
