<div class="form">
	<h3 class="text-center">Welcome!</h3>

	<form ng-submit="sc.signup()">
		<div class="input">
		  <input type="text" ng-model="sc.new_user.displayName" placeholder="Full Name">
		</div>
	  <div class="input">
	    <input type="text" ng-model="sc.new_user.email" placeholder="Email">
	  </div>
	  <div class="input">
	    <input type="password" ng-model="sc.new_user.password" placeholder="Password">
	  </div>
		<div class="submit">
		  <input type="submit" value="Sign Up">
		</div>
	</form>
	<p class="text-muted">Already have an account? <a href="/login">Log in here.</a></p>
</div>
