<form ng-submit="foodsIndexCtrl.search()">
  <input ng-model="foodsIndexCtrl.searchTerm.item" type="text" name="item" id="search" placeholder="Starbucks">
  <input type="submit" value="submit" ng-click="results = true">
  <button ng-click="results = false; foodsIndexCtrl.searchTerm = ''">Clear</button>
</form>
<div ng-show="results">
  <h2>Search Results for: {{foodsIndexCtrl.searchTerm.item}} </h2>
  <div ng-repeat="food in foodsIndexCtrl.foodList">
    <strong>Item: </strong>{{food.fields.item_name}} ({{food.fields.brand_name}})
    <button ng-click="info = true" ng-hide="info">Show Info</button>
    <button ng-click="info = false" ng-show="info">Close Info</button>
    <div ng-show="info">
      <ul>
        <li><strong>Calories: </strong> {{food.fields.nf_calories}} <span ng-if="!food.fields.nf_calories">0 </span> kcal </li>
        <li><strong>Total Fat: </strong> {{food.fields.nf_total_fat}} g </li>
        <ul>
          <li><strong>Polyunsaturated Fat: </strong>{{food.fields.nf_polyunsaturated_fat}} <span ng-if="!food.fields.nf_polyunsaturated_fat">0 </span> g </li>
          <li><strong>Monounsaturated Fat: </strong> {{food.fields.nf_monounsaturated_fat}} <span ng-if="!food.fields.nf_monounsaturated_fat">0 </span> g </li>
          <li><strong>Saturated Fat: </strong> {{food.fields.nf_saturated_fat}} g </li>
        </ul>
        <li><strong>Sodium: </strong> {{food.fields.nf_sodium}} mg </li>
        <li><strong>Cholesterol: </strong> {{food.fields.nf_cholesterol}} mg </li>
      </ul>
      <button ng-click="foodsIndexCtrl.add(food)">Add</button>
    </div>
  </div>
</div>
