<!-- <div ng-controller = "FoodsIndexController"> -->
<!-- <div class="search">
  <div class="container">
    <hr>
    <div style="text-align:center"> today's date</div>
    <hr>
    <div style="width:70%;float:left;">
      <div style="padding-right:10px">
        <div style="background-color:lightgrey;padding:20px;height:auto;overflow:hidden">
          <div style="width:70%;float:left">
            <span style="font-size:30px;">950</span>
            <span>calories consumed today</span>
            <div style="background-color:grey;height:5px;margin-top:5px;margin-bottom:5px"></div>
            <div style="font-size:13px">Budget: 1000Cal</div>
          </div>
          <div style="width:30%;float:left">
            <div style="float:right;height:130px;line-height:0;text-align:center;width:130px;border-radius:50%;background-color:#FFF;display:table;">
              <div style="display:table-cell;vertical-align:middle;width:100%">
                <span style="display:block;font-size:30px;line-height:30px">650</span>
                <span style="display:block;font-size:10px;line-height:10px">CALORIES</span>
                <span style="display:block;font-size:10px;line-height:10px"> LEFT</span>
              </div>
            </div>
          </div>
        </div>
        <div style="width:100%;background-color:green;margin-top:10px;height:50px;line-height:50px;">
          <div style="margin-left:10px;color:#FFF;float:left">FOOD</div>
          <div style="margin-left:10px;color:#FFF;float:right;margin-right:10px;font-size:13px">Show Nutrient Details<i class="fa fa-plus" style="margin-left:5px"></i></div>
        </div>
        <div style="width:100%;">
          <div style="background-color:lightgrey;height:50px;line-height:50px;display:flex;justify-content:space-between">
            <div style="margin-left:10px;">BREAKFAST</div>
            <div style="margin-left:10px;;margin-right:10px;font-size:13px">Calories</div>
          </div>
          <div style="margin:20px 10px;font-size:13px"><a href="#">Add Food <i class="fa fa-plus"></i></a></div>
        </div>
        <div style="width:100%;">
          <div style="background-color:lightgrey;height:50px;line-height:50px;display:flex;justify-content:space-between">
            <div style="margin-left:10px;">LUNCH</div>
            <div style="margin-left:10px;;margin-right:10px;font-size:13px">Calories</div>
          </div>
          <div style="margin:20px 10px;font-size:13px"><a href="#">Add Food <i class="fa fa-plus"></i></a></div>
        </div>
        <div style="width:100%;">
          <div style="background-color:lightgrey;height:50px;line-height:50px;display:flex;justify-content:space-between">
            <div style="margin-left:10px;">DINNER</div>
            <div style="margin-left:10px;;margin-right:10px;font-size:13px">Calories</div>
          </div>
          <div style="margin:20px 10px;font-size:13px"><a href="#">Add Food <i class="fa fa-plus"></i></a></div>
        </div>
        <div style="width:100%;">
          <div style="background-color:lightgrey;height:50px;line-height:50px;display:flex;justify-content:space-between">
            <div style="margin-left:10px;">SNACKS</div>
            <div style="margin-left:10px;;margin-right:10px;font-size:13px">Calories</div>
          </div>
          <div style="margin:20px 10px;font-size:13px"><a href="#">Add Food <i class="fa fa-plus"></i></a></div>
        </div>
      </div>
    </div>
    <div style="width:30%;float:left;">
      <div style="padding-left:0px">
        <div style="background-color:green;height:50px;line-height:50px;">
          <div style="margin-left:10px;color:#FFF">DAILY NUTRITION</div>
        </div>
        <div style="width:100%;font-size:15px;margin-top:15px">
          <div style="float:left">Calories</div>
          <div style="float:right">325Cal/1,200Cal</div>
          <div style="clear:both;background-color:lightgrey;height:5px;margin-top:10px"></div>
        </div>
        <div style="width:100%;font-size:15px;margin-top:15px">
          <div style="float:left">Fat</div>
          <div style="float:right">325Cal/1,200Cal</div>
          <div style="clear:both;background-color:lightgrey;height:5px;margin-top:10px"></div>
        </div>
        <div style="width:100%;font-size:15px;margin-top:15px">
          <div style="float:left">Cholesterol</div>
          <div style="float:right">325Cal/1,200Cal</div>
          <div style="clear:both;background-color:lightgrey;height:5px;margin-top:10px"></div>
        </div>
        <div style="width:100%;font-size:15px;margin-top:15px">
          <div style="float:left">Saturated Fat</div>
          <div style="float:right">325Cal/1,200Cal</div>
          <div style="clear:both;background-color:lightgrey;height:5px;margin-top:10px"></div>
        </div>
        <div style="width:100%;font-size:15px;margin-top:15px">
          <div style="float:left">Sodium</div>
          <div style="float:right">325Cal/1,200Cal</div>
          <div style="clear:both;background-color:lightgrey;height:5px;margin-top:10px"></div>
        </div>
      </div>
    </div>


    <h2>Search and add food item to food diary</h2>
    <form ng-submit="foodsIndexCtrl.search()" name="searchForm">
      <input ng-required = "true" ng-model="foodsIndexCtrl.searchTerm.item" type="text" name="item" id="search" placeholder="Starbucks">
      <input ng-disabled="searchForm.$invalid" type="submit" value="submit" ng-click="items = true">
      <button ng-click="items = false; foodsIndexCtrl.searchTerm = ''">Clear</button>
    </form>

    <div ng-show="foodsIndexCtrl.foodList.length < 1 && items">
      No results were found.
    </div>

    <div ng-show="items &&  foodsIndexCtrl.foodList.length > 0">
     <h3>Results for: {{foodsIndexCtrl.searchTerm.item}} </h3>
      <div class="results">
        <div class="items">
          <div ng-repeat="food in foodsIndexCtrl.foodList | startFrom: currentPage*pageSize | limitTo:pageSize">
            <div ng-class="$even ? 'odd' : 'even'">
              <div ng-click="$parent.food = food" ng-show="food">
                <p ng-class="{'active': $index === selectedIndex}" ng-click="itemClicked($index)">{{food.fields.item_name}} ({{food.fields.brand_name}})
                <li>{{food.fields.nf_serving_size_qty}} {{food.fields.nf_serving_size_unit}} | {{food.fields.nf_serving_weight_grams}}g</li></p>
              </div>
            </div>{{food.fields}}
          </div>
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
            {{currentPage+1}}/{{numberOfPages()}}
          <button ng-disabled="currentPage >= foodsIndexCtrl.foodList.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
        </div>

        <div class="show_info" ng-show="food">
          <ul>
            <li><strong>Calories: </strong> {{food.fields.nf_calories}} <span ng-if="!food.fields.nf_calories">0 </span> kcal </li>
            <li><strong>Total Fat: </strong> {{food.fields.nf_total_fat}} g </li>
            <ul>
              <li><strong>Polyunsaturated Fat: </strong>{{food.fields.nf_polyunsaturated_fat}} <span ng-if="!food.fields.nf_polyunsaturated_fat">0 </span> g </li>
              <li><strong>Monounsaturated Fat: </strong> {{food.fields.nf_monounsaturated_fat}} <span ng-if="!food.fields.nf_monounsaturated_fat">0 </span> g </li>
              <li><strong>Saturated Fat: </strong> {{food.fields.nf_saturated_fat}} g </li>
            </ul>
            <li><strong>Sodium: </strong> {{food.fields.nf_sodium}} mg </li>
            <li><strong>Cholesterol: </strong> {{food.fields.nf_cholesterol}} mg </li>
            <button ng-click="foodsIndexCtrl.add(food)">Add</button>
            <button ng-click="food = false; clear()">Close Info</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
