<!-- <div ng-controller = "FoodsIndexController"> -->
<div class="search">
  <div class="container">
    <h2>Search and add food item to food diary</h2>
    <form ng-submit="foodsIndexCtrl.search()" name="searchForm">
      <input ng-required = "true" ng-model="foodsIndexCtrl.searchTerm.item" type="text" name="item" id="search" placeholder="Starbucks">
      <input ng-disabled="searchForm.$invalid" type="submit" value="submit" ng-click="items = true">
      <button ng-click="items = false; foodsIndexCtrl.searchTerm = ''">Clear</button>
    </form>

    <div ng-show="foodsIndexCtrl.foodList.length < 1 && items">
      No results were found.
    </div>

    <div ng-show="items &&  foodsIndexCtrl.foodList.length > 0">
     <h3>Results for: {{foodsIndexCtrl.searchTerm.item}} </h3>
      <div class="results">
        <div class="items">
          <div ng-repeat="food in foodsIndexCtrl.foodList | startFrom: currentPage*pageSize | limitTo:pageSize">
            <div ng-class="$even ? 'odd' : 'even'">
              <div ng-click="$parent.food = food" ng-show="food">
                <p ng-class="{'active': $index === selectedIndex}" ng-click="itemClicked($index)">{{food.fields.item_name}} ({{food.fields.brand_name}})
                <li>{{food.fields.nf_serving_size_qty}} {{food.fields.nf_serving_size_unit}} | {{food.fields.nf_serving_weight_grams}}g</li></p>
              </div>
            </div>
          </div>
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
            {{currentPage+1}}/{{numberOfPages()}}
          <button ng-disabled="currentPage >= foodsIndexCtrl.foodList.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
        </div>

        <div class="show_info" ng-show="food">
          <ul>
            <li><strong>Calories: </strong> {{food.fields.nf_calories}} <span ng-if="!food.fields.nf_calories">0 </span> kcal </li>
            <li><strong>Total Fat: </strong> {{food.fields.nf_total_fat}} g </li>
            <ul>
              <li><strong>Polyunsaturated Fat: </strong>{{food.fields.nf_polyunsaturated_fat}} <span ng-if="!food.fields.nf_polyunsaturated_fat">0 </span> g </li>
              <li><strong>Monounsaturated Fat: </strong> {{food.fields.nf_monounsaturated_fat}} <span ng-if="!food.fields.nf_monounsaturated_fat">0 </span> g </li>
              <li><strong>Saturated Fat: </strong> {{food.fields.nf_saturated_fat}} g </li>
            </ul>
            <li><strong>Sodium: </strong> {{food.fields.nf_sodium}} mg </li>
            <li><strong>Cholesterol: </strong> {{food.fields.nf_cholesterol}} mg </li>
            <button ng-click="foodsIndexCtrl.add(food)">Add</button>
            <button ng-click="food = false; clear()">Close Info</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
