body {
  background-color: #f6f6f6;
  font-family: 'Noto Serif';
  margin: 0;
  padding:0;
}

a {
  text-decoration: none;
}

/*nav bar*/
#nav {
  background-color: #5F6263;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  position: fixed;
}

#nav a {
  color: white;
}

.logo {
  float: left;
  padding: 0 20px;
}

.menu {
  float: right;
  padding: 0 20px;
}

.menu a {
    padding: 0 10px;
}

.site-content {
  padding-top: 66px;
}

.container {
  margin: 0 20px;
}

/*landing page*/
.landing {
  position: relative;
  background-image: url(/images/landing.jpeg);
  background-size: cover;
  color: #EEE;
  background-position: center;;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.landing .container {
  height: 600px;
}

.action {
  position: absolute;
  top: 30%;
  right: 10%;
  color: white;
  text-align: center;
}

.button {
  background-color: #90C3D4;
  width: 100px;
  display: inline-block;
  font-size:20px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

/*form*/
.form {
  background-color: #474A48;
  padding:50px;
  width: 30%;
  margin: 40px auto;
  text-align: center;
  color: white;
}

.form a {
  color: white;
}

.tab {
  list-style: none;
  padding: 0;
  margin:0 0 30px 0;
}

.tab:after {
  content: "";
  display: table;
  clear: both;
}

.tab li {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 50%;
  text-align: center;
}

.form input {
  margin-bottom: 20px;
  width: 100%;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 0;
  text-align: center;
  cursor: pointer;
}

.submit {
    margin-bottom: 0;
}

.form p {
  margin-top: 5px;
  font-size: 13px;
  margin-bottom: 0;
}

/*login tab*/
.login .signup-tab{
  background-color: #6D736F;
}

.login .login-tab {
  background-color: #50D4A6;
}

/*signup tab*/
.signup .login-tab{
  background-color: #6D736F;
}

.signup .signup-tab {
  background-color: #50D4A6;
}

/*profile*/
.profile {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.info {
  /*background-color: blue;*/
  float: left;
  width: 30%;
}

.foods {
  float: left;
  /*background-color: red;*/
  width: 70%;

}
